/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@use './_variables' as variables;
@use './_rwd' as rwd;

:root {
  font-family: '微軟正黑體' !important;
}

.page-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.block-title {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.block-card {
  &:hover {
    border: 1px solid #aaa !important;
    transition: all 0.3s ease;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
  }
  .list-item {
    background-color: #f9f9f9 !important;
    &:hover {
      border: 1px solid #ccc !important;
      background-color: #eee !important;
      transition: all 0.1s ease;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
    }
  }
}

.expand-panel-title {
  font-size: 15px;
  font-weight: 600;
}

.sub-description {
  font-size: 13px;
  font-weight: 500;
}


h6 {
  font-size: 16px;
}

.v-navigation-drawer .v-list-item-title {
  font-size: 15px;
}

.v-list {
  .v-icon{
    font-size: 22px;  
  }
  .v-list-item-title {
    font-size: 15px !important;
  }
} 

.v-field .v-icon {
  font-size: 18px;
}

// 一般輸入框樣式
.v-field:not(.v-textarea .v-field):not(.v-autocomplete .v-field):not(.v-combobox .v-field):not(.v-select .v-field) {
  .v-field__input {
    font-size: 13px;
    height: 36px !important;
    padding-top: 4px !important;
  }

  .v-field__field {
    height: 36px !important;
  }
}

.v-select .v-field {
  .v-field__input {
    font-size: 13px;
  }
}

// 文本區域特殊處理
.v-textarea {
  .v-field__input {
    font-size: 13px;
  }
}

.v-autocomplete {
  .v-field__input {
    font-size: 13px;
  }
}

h1,h2,h3,h4,h5,h6 {
  opacity: 85%;
}

.v-data-table {
  .v-data-table-footer {
    margin-top: 16px ;
  }
  th {
    font-size: 13px;
  }
  td {
    font-size: 12px;
  }
} 


h3 {
  font-size: 16px;
}

.v-card-title {
  font-size: 15px !important;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
}

.card-subtitle {
  font-size: 13px;
  font-weight: 600;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
}

.list-title {
  font-size: 14px;
  margin-bottom: 4px;
}

.list-content {
  font-size: 14px;
}

.info-title {
  text-align: center;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 900;
}

@include rwd.sm {
  h3{
    font-size: 18px;
  }

  .page-title {
    font-size: 18px;
  }

  .block-title {
    font-size: 17px;
  }

  .sub-description {
    font-size: 14px;
  }

  .expand-panel-title {
    font-size: 17px;
  }

  .v-navigation-drawer .v-list-item-title {
    font-size: 16px;
  }

  .v-field:not(.v-textarea .v-field):not(.v-autocomplete .v-field):not(.v-combobox .v-field):not(.v-select .v-field) {
    .v-field__input {
        font-size: 14px;
        height: 40px !important;
        padding-top: 8px !important;
    }
  
    .v-field__field {
        height: 40px !important;
      }
  }

  .v-select .v-field {
    .v-field__input {
      font-size: 14px !important;
    }
  }

  .v-textarea {
    .v-field__input {
        font-size: 14px;
    }
  }

  .v-autocomplete {
    .v-field__input {
        font-size: 14px;
    }
  }

  .v-card-title {
    font-size: 17px !important;
  }

  .card-title {
    font-size: 17px;
  }

  .card-subtitle {
    font-size: 14px;
  }

  .list-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .list-content {
    font-size: 15px;
  }

  .sub-title {
    font-size: 15px;
  }

  .v-data-table {
    td {
      font-size: 13px;
    }
  }
}

@include rwd.md {
  .page-title {
    font-size: 24px;
  }

  .block-title {
    font-size: 20px;
  }

  .sub-description {
    font-size: 16px;
  }

  .expand-panel-title {
    font-size: 18px;
  }

  .v-data-table {
    th {
      font-size: 14px;
    }
    td {
      font-size: 14px;
    }
  }

  .info-title {
    text-align: center;
    letter-spacing: 4px;
    font-size: 15px;
  }
}

